<app-navbar></app-navbar>
<div class="separador"></div>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
        <th scope="col">street</th>
        <th scope="col">city</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Users of Users">
        <td>{{ Users.id }}</td>
        <td>{{ Users.name }}</td>
        <td>{{ Users.username }}</td>
        <td>{{ Users.email }}</td>
        <td>{{ Users.address.street }}</td>
        <td>{{ Users.address.city }}</td>
      </tr>
    </tbody>
  </table>
</div>
